/* Horizontal Carousel */
#cart {    
  height: 160px;
  width: 100%;
  text-align: right;
  /*background-color: green;*/
  position: absolute;
  top: 0;
}

#cart .items {
    float: left;
    width: 1000px;
}

#cart li {
    display: inline-block;
    font-size: 15px;
    padding: 5px;
}

#cart h2 {
    font-size: 25px;   
}

#cart .buttons {
    margin-right: 30px;
}

#cart input{
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  width: 200px;
}