<div class="items">
  <ul>
  <%= render(:partial => "cart_item" , :collection => cart.items) %>
  </ul>
  <h2>Итого: <%= cart.total_price %><span class="rur">p<span>уб.</span></span></h2>
</div>
<div class="buttons">
  <%= button_to 'Отменить заказ', :action => 'empty_cart', :confirm => "Are you sure?"%>
  <%= button_to 'Закончить заказ', :action => 'finish_cart' %>
</div>
<div id="clear"></div>